html, body {
    max-width: 100%;
    overflow-x: hidden;

}
body {
    font-family: "Palanquin", sans-serif;
    background-color: #ff9800;
    color: #fff;
    margin: 0;
    max-height: 100vh !important;
    max-width: 100vw !important;
}
