body {
  margin: 0;
  width: 100%;
  height: 100%;
}
.title-bar button {
  outline: none;
  border: none;
}
.title-bar {
  background: #ef8f00;
  -webkit-app-region: drag;
  margin: 0;
  display: flex;
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.menu-button-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.app-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: whitesmoke;
}

.window-controls-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.menu-button {
  -webkit-app-region: no-drag;
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
.minimize-button {
  -webkit-app-region: no-drag;
  background-color: #61ca43;
  margin-left: 10px;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50px;
}
.min-max-button {
  -webkit-app-region: no-drag;
  background-color: #fdbc40;
  margin-left: 10px;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50px;
}
.close-button {
  -webkit-app-region: no-drag;
  background-color: #fc605c;
  margin-left: 10px;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50px;
}
img.menu-button {
  transition-duration: 500ms;

}
img.menu-button:hover {
  transition-duration: 500ms;
  transform: rotate(90deg);
}