

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recieve link | Interclip</title>
    <link rel="stylesheet" href="../assets/css/recieve.css">
    <link rel="stylesheet" href="../assets/css/dark.css">
    <link rel="stylesheet" href="../assets/css/title-bar.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
 </head>
 <div class="title-bar">
      <div class="menu-button-container">
            <a href="clip.html">

       <img src="../assets/icons/png/64.png" 
          id="menu-button"
          class="menu-button"
          />
          </a>
    </div>
    <div class="app-name-container">
       <p>Interclip Desktop</p>
    </div>
    <div class="window-controls-container">
       <button 
          id="minimize-button"
          class="minimize-button"
          />
       <button 
          id="min-max-button"
          class="min-max-button"
          />
       <button 
          id="close-button"
          class="close-button"
          />
    </div>
 </div>
 <body id="body">
    <div class="wrapper">
       <div class="form-container">
          <div class="input-wrap">
             <input type="text" name="user" minlength="5" maxlength="5" id="code" placeholder="h&amp;$h" autofocus>
          </div>
          <div id="result"></div>

          <script type="text/javascript" src="../assets/js/titlebar.js"></script>
          <script type="text/javascript" src="../assets/js/receive.js"></script>
       </div>
    </div>
 </html>
 
 